@import "custom";
@import "bootstrap";

// Define variables for repeated values
$font-family-default: Helvetica, sans-serif;
$background-color-dark: #0e1b50;
$white-color: white;
$main-padding: 50px;

// Use the variables throughout the SCSS
html, body {
  margin: 0;
  font-family: $font-family-default;
}

.header, .footer, .navbar {
  background-color: $background-color-dark;
  color: $white-color;
}

.navbar {
  padding: 32.5px $main-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 44px $main-padding 44px $main-padding; 
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.single-page {
  padding: $main-padding 70px; 
}
